@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-family);
}
.bg-safe-rialchat{
 background-image: url("../../public/images/industry/rialchat/bg.png");

}

.serve:first-child {
  margin-left: 0 !important;
}

.thank-you-bg{
  background-image: url('../../public/images/homepage/logoback.webp');
}
.containerr {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1410px;
}

@layer base {
  html {
    font-family: var(--font-family);
  }
  h1 {
    font-size: 23px;
    font-weight: 300;
  }

  h2 {
    font-size: 23px;
    font-weight: 300;
  }

  p {
    font-size: 14px;
    font-weight: 500;
  }

  h3 {
    font-size: 20px;
    font-weight: 500;
  }

  /* Second h3 variant with class */
  .h3-bold {
    font-size: 20px;
    font-weight: 700;
  }

  h4 {
    font-size: 18px;
    font-weight: 700;
  }

  h5 {
    font-size: 16px;
  }

  /* Desktop styles */
  @media (min-width: 768px) {
    h1 {
      font-size: 44px;
    }

    h2 {
      font-size: 42px;
    }

    p {
      font-size: 16px;
      font-weight: 500;
    }

    h3 {
      font-size: 24px;
    }

    .h3-bold {
      font-size: 20px;
    }

    h4 {
      font-size: 18px;
    }
  }
}
.bg-egs {
  background: #016FBE 0% 0% no-repeat padding-box;
  mix-blend-mode: multiply;
  color: white;
  isolation: isolate; /* Prevents blending issues */
}
.header {
  position: sticky;
  top: 0; /* Keeps the header at the top */
  z-index: 50; /* Ensure the header is above the content */
  background-color: white; /* Make sure the background is not transparent */
  width: 100%;
}

@media (max-width: 767px) {
  .group:hover .group-hover\:opacity-100 {
    opacity: 1 !important;
  }
}

@media only screen and (max-width: 768px) {

  .react-multi-carousel-dot-list > button {
    width: 50px;
  }

  .carousel .control-dots {
    position: absolute;
    bottom: 0;
    margin: 10px 0;
    padding: 0;
    width: 100%;
    z-index: 1;
    text-align: left !important;
    padding-left: 20px !important;
    /* top: 6rem; */
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .carousel .control-dots {
    position: absolute;
    bottom: 0;
    margin: 10px 0;
    width: 100%;
    z-index: 1;
    text-align: left !important;
    padding-left: 55px!important;
    top: 45rem !important;
  }
}

.react-multi-carousel-dot-list {
  justify-content: left !important;
}

.footer-background {
  background-image: url("/images/homepage/footer-Bg.png");
  color: white;
}

@media only screen and (min-width: 1024px) {
  /* .react-multi-carousel-dot-list {
    left: 85px !important;
    top: 91rem !important;
  } */

  .carousel .control-dots {
    position: absolute;
    bottom: 0;
    margin: 10px 0;
    width: 100%;
    z-index: 1;
    text-align: left !important;
    padding-left: 240px !important;
  }
}

.get-inspired .react-multi-carousel-item {
  width: 896px !important;
}

.carousel.carousel-slider .control-arrow {
  display: none;
}

.carousel .carousel-status {
  display: none;
}

.react-multiple-carousel__arrow--right {
  display: none;
}

.react-multiple-carousel__arrow--left {
  display: none;
}

.transition-all {
  transition: all 0.3s ease-in-out;
}
